:root {
  /* Colors */
  --primary-text-color-01: hsl(35, 77%, 62%);
  --primary-text-color-02: hsl(5, 85%, 63%);
  --neutral-text-color-01: hsl(36, 100%, 99%);
  --neutral-text-color-02: hsl(233, 8%, 79%);
  --neutral-text-color-03: hsl(236, 13%, 42%);
  --neutral-text-color-04: hsl(240, 100%, 5%);


 /* Sizes */
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 1.5rem;
}

img {
  max-width: 100%
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: min(90%, 1200px);
  position: relative;
  display: grid;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  padding: 2em 0;
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  width: 100%;
}

.nav-toggle {
  position: absolute;
  right: 0;
  z-index: 2;
  border: transparent;
  background-color: transparent;
}

.nav--visible {
  position: fixed;
  padding: 15em 2em;
  width: 70%;
  top: 0;
  right: 0;
  height: 100vh;
  visibility: visible;
  background-color: white;
  z-index: 1;
}

nav.nav--visible + button {
  position: fixed;
  padding-right: 1em;
}

.nav__item {
  margin-bottom: 2.6em;
}

.nav__link {
  font-size: 1.8em;
  font-weight: 600;
  color: var(--neutral-text-color-04);
}

.banner-container {
  padding: 2em 0;
}

.banner-container picture {
  margin: 0 auto;
}

.main-text {
  display: grid;
  padding: 2em 0 0;
  text-align: left;
}

.main-text h1 {
  font-size: 4.5em;
  font-weight: 800;
  line-height: 1em;
}


.main-text .cta {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.main-text .cta p {
  padding: 2em 0;
  color: var(--neutral-text-color-03);
}

.main-text .cta a {
  padding: 1em;
  width: 180px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--primary-text-color-02);
  font-size: 1.3em;
  color: white;
  letter-spacing: 0.3em;
  font-weight: 600;
}

aside {
  padding: 2em 0;
}

.features-container {
  flex-direction: column;
  padding: 2em;
  background-color: var(--neutral-text-color-04);
}

.features-container article {
  padding: 2.6em 0;
  width: 100%;
}

.features-container article:not(:last-child) {
  border-bottom: 1px solid var(--neutral-text-color-03);
}

.features-container h2 {
  width: 100%;
  font-size: 3em;
  color: var(--primary-text-color-01);
}

.features-container h3 {
  margin-bottom: 0.8em;
  font-size: 1.9em;
  color: var(--neutral-text-color-01);
}

.features-container p {
  font-size: 1.45em;
  line-height: 1.8em;
  color: var(--neutral-text-color-02);
}

.posts-container {
  padding: 2em 0;
  display: grid;
}

.posts-container article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "image title"
    "image subtitle"
    "image text"
  ;
  margin-bottom: 2.5em;
}

.posts-container figure {
  grid-area: image;
  margin-right: 1.6em;
}

.posts-container h2 {
  grid-area: title;
  font-size: 3.5em;
  margin-bottom: 0.1em;
  color: var(--neutral-text-color-02);
}

.posts-container h3 {
  grid-area: subtitle;
  margin-bottom: 0.7em;
  font-size: 1.8em;
  font-weight: 800;
}

.posts-container p {
  grid-area: text;
  font-size: 1.5em;
  color: var(--neutral-text-color-03);
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  .nav {
    visibility: visible;
    position: relative;
    height: auto;
    width: auto;
  }

  .nav__list {
    display: flex;
    gap: 20px;
  }

  header .flex {
    justify-content: space-between;
  }
  .nav__item {
    margin: 0;
  }

  .nav__link {
    font-size: 1.6em;
    color: var(--neutral-text-color-03);
  }

  .nav-toggle {
    display: none;
  }
}

@media (min-width: 968px) {
  .container {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  header {
    grid-column: span 3;
    padding-bottom: 0;
  }

  .banner-container {
    grid-column: span 2;
  }

  .main-text {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .main-text h1 {
    max-width: 80%;
    font-weight: 800;
  }

  .posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }

  .attribution {
    grid-column: span 3;
  }
}